.bookCard {
  width: 300px;
  height: 520px;
  box-shadow: 5px 5px 10px black;
  position: relative;
}

.coverImage {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.body {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 300px;
  margin-bottom: 5px;
}

.price {
  text-align: center;
  width: 300px;
}

.cardButton {
  position: relative;
  left: 90px;
  width: 120px;
  border: none;
  background-color: darkblue;
  color: white;
  border-radius: 20px;
  margin-block: 2px;
  padding: 3px;
}

img {
  height: 350px;
  max-width: 240px;
}

.bookName {
  padding-inline: 10px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.bookAuthor {
  margin-top: 5px;
  font-size: 0.9rem;
}
