.bookCard {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 10px black;
  position: relative;
}

.coverImage {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.body {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 300px;
  margin-bottom: 5px;
}

.price {
  position: relative;
  left: 110px;
}

.cardButton {
  position: relative;
  left: 90px;
  width: 120px;
  border: none;
  background-color: darkblue;
  color: white;
  border-radius: 20px;
  margin-block: 2px;
  padding: 3px;
}

img {
  height: 350px;
}

.bookName {
  margin-bottom: 0px;
}

.bookAuthor {
  margin-top: 5px;
  font-size: 0.9rem;
}
